<!DOCTYPE html>
<html>
<div th:replace="layout/head :: head"></div>

<body>
	<nav th:replace="layout/menu :: menuJacaranda"></nav>
	<div class="container px-5 my-5">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="card border-0 rounded-3 shadow-lg">
					<div class="card-body p-4">
						<div class="text-center">
							<div class="h1 fw-light">Delete Employee</div>
						</div>

						<form method="get" th:action="@{deleteEmployeeSave}" th:object="${employee}">
							<div class="mb-3">
								<label for="FirstName" class="form-label">FirstName</label>
								<input type="text" th:field="*{firstName}" class="form-control" id="firstName"
									name="firstName" placeholder="Enter firstName">
							</div>

							<div class="mb-3">
								<label for="LastName" class="form-label">LastName</label>
								<input type="text" th:field="*{lastName}" class="form-control" id="lastName"
									name="lastName" placeholder="Enter LastName">
							</div>

							<div class="mb-3">
								<label for="Email" class="form-label">Email</label>
								<input type="text" th:field="*{email}" class="form-control" id="email" name="email"
									placeholder="Enter email">
							</div>
							<div class="mb-3">
								<label for="Gender" class="form-label">Gender</label>
								<input type="text" th:field="*{gender}" class="form-control" id="gender" name="gender"
									placeholder="Enter gender">
							</div>
							<div class="mb-3">
								<label for="DateOfBirth" class="form-label">DateOfBirth</label>
								<input type="date" th:field="*{dateOfBirth}" class="form-control" id="DateOfBirth"
									name="DateOfBirth" placeholder="Enter DateOfBirth">
							</div>

							<div class="mb-3">
								<label for="idCompany" class="form-label">IdCompany</label>
								<select id="idCompany" name="idCompany" class="custom-select">
									<option th:each="company : ${listCompanies}" th:text="${company.name}"></option>
								</select>
							</div>
							<div class="mb-3">
								<label for="role" class="form-label">Role</label>
								<input type="text" th:field="*{role}" class="form-control" id="role" name="role"
									placeholder="Enter role" >
							</div>
							<div class="mb-3">
								<label for="password" class="form-label">password</label>
								<input type="text" th:field="*{password}" class="form-control" id="password"
									name="password" placeholder="Enter password" >
							</div>


							<div class="d-grid">
								<button class="btn btn-danger btn-lg" id="submitButton" type="submit"
									name="submit">Delete</button>
							</div>

						</form>
						<div class="d-grid">
							<span th:text="${delete}" class="alert alert-success"></span>
						</div>

						<!-- End of contact form -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:insert="layout/footer :: pie"></div>
</body>

</html>